// ブレイクポイント

$sp: 750px;
$tablet: 1280px;

// カラーコード
$black: #000;
$white: #fff;
$grey-darker: #333;
$grey-dark: #555;
$grey: #999;
$grey-light: #ccc;
$grey-lighter: #f5f5f5;
$primary: #3F51B5;
$secondary: #2196f3;
$success: #4caf50;
$error: #ff5252;
$warning: #ffc105;
$base-color: $grey-dark;

// フォント
$base-font: 'Helvetica Neue',
  Arial,
  'Hiragino Kaku Gothic ProN',
  'Hiragino Sans',
  Meiryo,
  sans-serif;

// フォントサイズ
$headling-x-large: 6;
$headling-large: 5;
$headling-medium: 4;
$headling-small: 3;
$text-x-large: 3;
$text-large: 2.5;
$text-medium: 2;
$text-small: 1.5;

// スペース
$spacers: 0px, 4px, 8px, 12px, 16px, 20px, 24px, 28px, 32px, 36px, 40px;

// その他レイアウト
$header-height: 64px;
