.text-small,
.text-medium,
.text-large,
.text-x-large {
  line-height: 1.25;
}

.heading-small {
  font-weight: bold;
  line-height: 1.1;
}

.heading-medium {
  font-weight: bold;
  line-height: 1.13636364;
}

.heading-large {
  font-weight: bold;
  line-height: 1.15384615;
}

.heading-x-large {
  font-weight: bold;
  line-height: 1.25;
}

@include breakpoint-pc {
  .text-small {
    font-size: #{$text-small}rem;
  }
  .text-medium {
    font-size: #{$text-medium}rem;
  }
  .text-large {
    font-size: #{$text-large}rem;
  }
  .text-x-large {
    font-size: #{$text-x-large}rem;
  }
  .heading-small {
    font-size: #{$headling-small}rem;
  }
  .heading-medium {
    font-size: #{$headling-medium}rem;
  }
  .heading-large {
    font-size: #{$headling-large}rem;
  }
  .heading-x-large {
    font-size: #{$headling-x-large}rem;
  }
}

@function tabletsize($size) {
  @return #{$size / 1.28}vw;
}

@include breakpoint-tablet {
  .text-small {
    font-size: tabletsize($text-small);
  }
  .text-medium {
    font-size: tabletsize($text-medium);
  }
  .text-large {
    font-size: tabletsize($text-large);
  }
  .text-x-large {
    font-size: tabletsize($text-x-large);
  }
  .heading-small {
    font-size: tabletsize($headling-small);
  }
  .heading-medium {
    font-size: tabletsize($headling-medium);
  }
  .heading-large {
    font-size: tabletsize($headling-large);
  }
  .heading-x-large {
    font-size: tabletsize($headling-x-large);
  }
}

@function spsize($size) {
  @return #{(2 + $size / 1.5) / 0.75}vw;
}

@include breakpoint-sp {
  .text-small {
    font-size: spsize($text-small);
  }
  .text-medium {
    font-size: spsize($text-medium);
  }
  .text-large {
    font-size: spsize($text-large);
  }
  .text-x-large {
    font-size: spsize($text-x-large);
  }
  .heading-small {
    font-size: spsize($headling-small);
  }
  .heading-medium {
    font-size: spsize($headling-medium);
  }
  .heading-large {
    font-size: spsize($headling-large);
  }
  .heading-x-large {
    font-size: spsize($headling-x-large);
  }
}

.black-text {
  color: $black;
}
.white-text {
  color: $white;
}
.grey-darker-text {
  color: $grey-darker;
}
.grey-dark-text {
  color: $grey-dark;
}
.grey-text {
  color: $grey;
}
.grey-light-text {
  color: $grey-light;
}
.grey-lighter-text {
  color: $grey-lighter;
}
.primary-text {
  color: $primary;
}
.secondary-text {
  color: $secondary;
}
.success-text {
  color: $success;
}
.error-text {
  color: $error;
}
.warning-text {
  color: $warning;
}
