@each $spacer in $spacers {
  $key: index($spacers, $spacer);
  .ml-#{$key - 1} {
    margin-left: $spacer;
  }
  .mr-#{$key - 1} {
    margin-right: $spacer;
  }
  .mt-#{$key - 1} {
    margin-top: $spacer;
  }
  .mb-#{$key - 1} {
    margin-bottom: $spacer;
  }
  .mx-#{$key - 1} {
    margin-left: $spacer;
    margin-right: $spacer;
  }
  .my-#{$key - 1} {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
  .ma-#{$key - 1} {
    margin: $spacer;
  }
  .pl-#{$key - 1} {
    margin-left: $spacer;
  }
  .pr-#{$key - 1} {
    padding-right: $spacer;
  }
  .pt-#{$key - 1} {
    padding-top: $spacer;
  }
  .pb-#{$key - 1} {
    padding-bottom: $spacer;
  }
  .px-#{$key - 1} {
    padding-left: $spacer;
    padding-right: $spacer;
  }
  .py-#{$key - 1} {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
  .pa-#{$key - 1} {
    padding: $spacer;
  }
}
